@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
    background-color: white;
    font-family: 'Play', sans-serif;
    color: darkred;
    text-align: center;
}

/* header and footer */

.heading {
    font-size: 3rem;
    text-align: center;
}

.rules {
    font-size: .75rem;
    text-align: center;
}

/* game area */

.game-area {
    width: 50vw;
    height: 50vh;
    margin: auto;
}

#display-card {
    width: 17vw;
    height: 33vh;
    background-color: rgb(2, 58, 2);
    margin: 0 auto;
    background-repeat: no-repeat;
}

#score {
    color: rgb(2, 58, 2);
    font-size: 2.5vw;
}

/* Buttons */

.buttons {
    width: 50vw;
    height: 10vh;
}

#button1,
#button2 {
    width: 10vw;
    height: 5vh;
    font-size: 1.75vw;
}

#button1,
#button2 {
    margin-top: 3vh;
}

#button1:hover,
#button2:hover {
    background-color: lightgreen;
}

#button1:active,
#button2:active {
    background-color: red;
}

/* paragraphs */

.pscore {
    font-size: 2vw;
}

.rules {
    font-size: .9vw;
    color: black;
}

/* media queries */

@media (max-width: 1500px) {
    .game-area {
        transform: scaleX(1.25);
    }
}

@media (max-width: 1000px) {
    .heading {
        transform: scale(.7);
        margin-bottom: 20px;
    }

    .game-area {
        transform: scaleX(1.7);
    }
}


@media (max-width: 700px) {
    .heading {
        transform: scale(.6);
        margin-bottom: 15px;
    }

    .game-area {
        transform: scaleX(1.9);
    }
}

@media (max-width: 600px) {
    .heading {
        transform: scale(.55);
        margin-bottom: 10px;
    }

    .game-area {
        transform: scaleX(1.9);
    }

}

@media (max-width: 500px) {
    .heading {
        transform: scale(.5);
        margin-bottom: 0;
    }

    .game-area {
        transform: scaleX(1.9);
    }

}

@media (max-width: 470px) {
    .heading {
        transform: scale(.55);
        white-space: nowrap;
    }

    .game-area {
        transform: scaleX(1.9);
    }
}

@media (max-width: 450px) {
    .heading {
        transform: scale(.5);
        white-space: nowrap;
    }

    .game-area {
        transform: scaleX(2.75);
    }

}