@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
    background-color: white;
    font-family: 'Play', sans-serif;
    color: darkred;
    text-align: center;
}

/* header and footer */

.heading {
    font-size: 3rem;
    text-align: center;
}

.rules {
    font-size: .75rem;
    text-align: center;
}

.game-area {
    width: 50vw;
    height: 50vh;
    margin: auto;
}

.display-card {
    width: 20vw;
    height: 33vh;
    background-color: rgb(2, 58, 2);
    margin: 0 auto;
}

.dcard {
    width: 12vw;
    height: 30vh;
    margin-top: 1.5vh;
}

.buttons {
    width: 50vw;
    height: 10vh;
}

.button1,
.button2 {
    width: 10vw;
    height: 5vh;
    font-size: 1.75vw;
}

.button1,
.button2 {
    margin-top: 3vh;
}

.button1:hover,
.button2:hover {
    background-color: lightgreen;
}

.button1:active,
.button2:active {
    background-color: red;
}

p {
    font-size: 1.5vw;
}